body{
  /*font-family: 'Roboto', sans-serif;*/
  font-family: 'Montserrat', sans-serif;
  color: #fff;
  background-color: #000;
}
p{
  font-size: 10px;
}
.navbar{
  background: url(../img/albatross-logo.png)
  background-color: #000;
  margin: 0;
  color: #32cd32;
  width: 100%;
}
.navbar>li{
  padding-right: 50px;
}
.social-media{
  background-color: #000;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  position: absolute;
  list-style: none;
  top: 0px;
  right: 20px;
  text-align: center;
  padding: 9px;
}
@media (max-width: 750px){
  .social-media, .like{
    display: none;
  }
}
.social-media>li{
  padding: 5px 0px;
}
.like{
  text-align: right;
  position: absolute;
  list-style: none;
  right: 20px;
  top: 240px;
}
.content-section{
  font-size: 8px;
  padding-top: 20px;
  /*height: 100%;*/
  text-align: left;
  clear: both;
}
@media (min-width: 768px){
  .content-section{
    height: 100%;
  }
}
blockquote{
  font-size: 16.5px;
}
@media (min-width: 768px){
  .about-head>h2{
    margin-bottom: 110px;
  }
}
@media (min-width: 768px){
  .music-head>h2{
    margin-bottom: 80px;
  }
}

.band-about{
  padding: 180px;
  text-align: center;
  color: white;
  background: url(../img/albatross-about.jpg) no-repeat bottom center scroll;
  background-color: black;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}

@media (min-width: 768px){
  .band-about{
    padding: 220px;
  }
}
@media (max-width: 450px){
  .band-about{
    padding: 100px 0;
  }
}
.hero-feature{
  padding: 0px 5px;
}
.thumbnail{
  background-color: #333;
  border-radius: 0px;
  border-color: transparent;
  color: #000;
  height: 499px;
}
.thumbnail .caption{
  color: #000;
}
.thumbnail .caption h3{
  letter-spacing: .02em;
}
@media (max-width: 450px) {
  .thumbnail{
    height: 485px;
  }
}
a, a:visited {
  color: #fff;
  font-size: 11px;
  -webkit-transition: 0;
  -moz-transition: 0;
  transition: 0;
}
a:hover{
  text-decoration: none;
  color: #32cd32;
}
