body{
  /*font-family: 'Roboto', sans-serif;*/
  font-family: 'Montserrat', sans-serif;
  color: #fff;
  background-color: #000;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
p{
  font-size: 10px;
}
.navbar{
  background: url(../img/albatross-logo.png)
  background-color: #000;
  margin: 0;
  color: #32cd32;
  width: 100%;
}
.navbar>li{
  padding-right: 50px;
}
.intro {
  display: table;
  width: 100%;
  margin-top: 65px;
  height: auto;
  padding: 460px 0;
  text-align: center;
  color: white;
  background: url(../img/albatross-header.jpg) no-repeat bottom center scroll;
  background-color: black;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}
@media(max-width: 450px){
  .intro{
    padding: 115px 0px;
  }
}
@media (min-width:451px) and (max-width: 1024px){
  .intro{
    padding: 288px 0px;
  }

}
.social-media{
  position: absolute;
  list-style: none;
  top: 80px;
  right: 30px;
  text-align: center;
  padding: 9px;
}
@media (max-width: 750px){
  .social-media, .like{
    display: none;
  }
}

.social-media>li{
  padding: 5px 0px;
}
.like{
  text-align: right;
  position: absolute;
  list-style: none;
  right: 30px;
  top: 310px;
}
.content-section{
  font-size: 8px;
  padding-top: 70px;
  /*height: 100%;*/
  text-align: left;
  clear: both;
}
@media (min-width: 768px){
  .content-section{
    height: 100%;
  }
}
blockquote{
  font-size: 16.5px;
}
@media (min-width: 768px){
  .about-head>h2{
    /*margin-bottom: 10px;*/
  }
}
@media (min-width: 768px){
  .music-head>h2{
    margin-bottom: 80px;
  }
}

.band-about{
  padding: 180px;
  text-align: center;
  color: white;
  background: url(../img/albatross-about.jpg) no-repeat bottom center scroll;
  background-color: black;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}

@media (min-width: 768px){
  .band-about{
    padding: 220px;
  }
}
@media (max-width: 450px){
  .band-about{
    padding: 100px 0;
  }
}
.hero-feature{
  padding: 0px 5px;
}
.thumbnail{
  background-color: #333;
  border-radius: 0px;
  border-color: transparent;
  color: #000;
  height: 499px;
}
.thumbnail .caption{
  color: #000;
}
.thumbnail .caption h3{
  letter-spacing: .02em;
}
@media (max-width: 450px) {
  .thumbnail{
    height: 485px;
  }
}
a, a:visited {
  color: #fff;
  font-size: 11px;
  -webkit-transition: 0;
  -moz-transition: 0;
  transition: 0;
}
a:hover{
  text-decoration: none;
  color: #32cd32;
}
.footer {
  /*border: 2px solid white;*/
  display: table;
  width: 100%;
  height: 100%;
  padding-top: 100px;
  text-align: center;
  color: white;
  /*background: url(../img/albatross-footer.jpg) no-repeat bottom center scroll;*/
  background-color: black;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}
@media(max-width: 450px){
  .footer{
    /*padding: 152px 0px;*/
  }
}
@media (min-width:451px) and (max-width: 1024px){
  .footer{
    /*padding: 348px 0px;*/
  }

}
